.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
FE/src/components/kakaoConnect.vue
BE/models/groupInfo.js
BE/models/evaluateIndex.js
BE/models/comment.js
*.js
BE/package-lock.json
BE/package.json
*.json
FE/package-lock.json
FE/package.json
FE/src/components/index.vue
FE/package-lock.json
FE/package.json
FE/src/components/index.vue
FE/package-lock.json
BE/files/avatar/groups.jpg
config/server.config.js
FE/src/components/subCategoryList.vue
FE/src/components/subCatagory.vue
FE/src/components/subCatagory.vue
FE/src/components/navigator/top.vue
